.date {
  text-align: right;
}
.date > p {
  font-size: 0.6rem;

  margin: 0;
  padding: 0;
  padding-right: 10px;
  padding-top: 10px;
  color: #6d7f52;
}

.date > a > button {
  border: unset;
  outline: unset;
  text-decoration: underline;
  color: #23527c;
  height: 17px;
  width: 84px;

  margin-right: 10px;
  font-size: 8px;
}

.logo {
  margin: auto;
  width: 160px;
  height: 40px;
}
.form {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.fields {
  display: flex;
  flex-direction: column;
}
.fields > label {
  width: 360px;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
}
.select {
  width: 290px;
  height: 35px;
  outline: none;
  border: 1px solid #9b9da0;
  padding: 6px;
}
.ports {
  margin-top: 80px;
  width: 290px;
  height: 60px;
  margin-left: 72px;
  background: #245d8133;
}
.ports > p {
  color: #094f73;
  font-size: 20px;
  width: 90%;
  font-weight: 600;
  margin-left: 5%;
}
