.date {
  text-align: right;
}
.date > p {
  font-size: 0.6rem;
  margin: 0;
  padding: 0;
  padding-right: 10px;
  padding-top: 10px;
  color: #6d7f52;
}

.date > a > button {
  border: unset;
  outline: unset;
  text-decoration: underline;
  color: #23527c;
  height: 17px;
  width: 84px;

  margin-right: 10px;
  font-size: 8px;
}

.logo {
  margin: auto;
  width: 160px;
  height: 40px;
}
.form {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.fields {
  display: flex;
  flex-direction: column;
}
.fields > label {
  width: 360px;
  display: flex;
  justify-content: space-between;
  font-family: "Helvetica Neue", "sans-serif";
  font-weight: 500;
  margin-top: 22px;
  color: #284c61;
  font-size: 14px;
  padding: 0;

  align-items: center;
}
.select {
  width: 290px;
  height: 35px;
  outline: none;
  border: 1px solid #cfc7c7;
  padding: 6px;
}
.ports {
  margin-top: 70px;
  width: 290px;
  min-height: 60px;

  margin-left: 72px;
  background: #245d8133;
}
.ports > p {
  color: #094f73;
  padding: 0;
  margin: 10px;
  font-size: 20px;
  width: 90%;
  font-weight: 500;
  margin-left: 5%;
  padding: 2px 5px;
}

.content {
  display: grid;
  grid-template-rows: 15% 15% 60%;
  margin-top: 40px;
  height: 100%;
  min-height: 450px;
}
.content > div {
  width: 85%;
  text-align: center;
  margin-top: 20px;
  margin: auto;
}
.content > div > button {
  height: 38px;
  width: 50px;
  font-size: 14px;
  font-family: "Helvetica Neue", "sans-serif";
  background-color: #337ab7;
  border: none;
  outline: none;
  color: #fff;
  position: absolute;
  margin-left: -50px;
}
.titleInput {
  width: 95%;
  height: 34px;
  border: 1px solid lightgray;
}
.titleList {
  height: 100%;
}
.list {
  overflow: auto;
  background-color: #efefee;
  min-height: 50px;
  max-height: 200px;
  width: 96%;
  margin: auto;
}
.list > p {
  font-size: 9px;
  color: #094f73;
  padding: 10px;
  text-align: left;
}
.list > p > span {
  font-weight: bold;
}

@media screen and (max-width: 900px) {
  .fields > label {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    font-family: "Helvetica Neue", "sans-serif";
    font-weight: 500;
  }
  .select {
    width: clamp(200px, 85vw, 450px);
    outline: none;
    padding: 6px;
  }
  .ports {
    margin: unset;
    margin-top: 70px;
    background: #245d8133;
  }
  .main {
    padding-bottom: 100px;
  }
  .content {
    min-height: 350px;
    width: clamp(200px, 90vw, 700px);
    margin: auto;
  }
  .content > div > button {
    height: 38px;
    width: 50px;
    font-size: 14px;
    font-family: "Helvetica Neue", "sans-serif";
    background-color: #337ab7;
    border: none;
    outline: none;
    color: #fff;
    position: absolute;
  }
  .titleInput {
    height: 34px;
    border: 1px solid lightgray;
  }
}

::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar-thumb {
  background-color: #000;
}
